In [14]:
#Import Pandas and sqlalchemy
import pandas as pd
import numpy as py
from sqlalchemy import create_engine

In [2]:
#Read in Zipcode CSV
csv_file = "raw_data/us-zip-code-latitude-and-longitude.csv"
zipcode_df = pd.read_csv(csv_file)
zipcode_df.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,5769,Salisbury,VT,43.914026,-73.107030,-5,1,"43.914026, -73.10703"
1,1085,Westfield,MA,42.133642,-72.750290,-5,1,"42.133642, -72.75029"
2,1340,Colrain,MA,42.673371,-72.731040,-5,1,"42.673371, -72.73104"
3,25728,Huntington,WV,38.413384,-82.277401,-5,1,"38.413384, -82.277401"
4,26035,Colliers,WV,40.352943,-80.555850,-5,1,"40.352943, -80.55585"

In [3]:
#Remove unneeded columns
condensed_df = zipcode_df[["Zip", "State","Latitude","Longitude"]]
condensed_df.head()

     Zip State   Latitude  Longitude
0   5769    VT  43.914026 -73.107030
1   1085    MA  42.133642 -72.750290
2   1340    MA  42.673371 -72.731040
3  25728    WV  38.413384 -82.277401
4  26035    WV  40.352943 -80.555850

In [4]:
#Filter dataset by CA and FL
states= ["CA","FL"]
filter_df= condensed_df[condensed_df['State'].isin(states)]
filter_df.head()

      Zip State   Latitude   Longitude
5   34230    FL  27.335023  -82.537169
6   34742    FL  27.995287  -81.259332
28  90056    CA  33.986212 -118.370990
30  91356    CA  34.164255 -118.544720
31  92513    CA  33.752886 -116.055617

In [50]:
#Sort final Zip Code dataset
lat_long_df = filter_df[["Zip","Latitude","Longitude"]]
lat_long_df=lat_long_df.sort_values(by="Zip", ascending=False)
lat_long_df = lat_long_df.reset_index()
lat_long_df.head()

   index    Zip   Latitude   Longitude
0   2091  97635  41.924974 -120.289890
1  19695  96222  40.385673 -122.279739
2  27477  96163  39.320012 -120.160271
3   6409  96162  39.265990 -120.641450
4   6666  96161  39.339574 -120.228050

In [6]:
#Read in COVID CSV
csv_file2 = "raw_data/COVID_HOSPITAL_DATA_US.csv"
data_df = pd.read_csv(csv_file2)
data_df.head()

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_adult_covid_suspected_30-39_7_day_sum,previous_day_admission_adult_covid_suspected_40-49_7_day_sum,previous_day_admission_adult_covid_suspected_50-59_7_day_sum,previous_day_admission_adult_covid_suspected_60-69_7_day_sum,previous_day_admission_adult_covid_suspected_70-79_7_day_sum,previous_day_admission_adult_covid_suspected_80+_7_day_sum,previous_day_admission_adult_covid_suspected_unknown_7_day_sum,previous_day_admission_pediatric_covid_suspected_7_day_sum,previous_day_total_ED_visits_7_day_sum,previous_day_admission_influenza_confirmed_7_day_sum
0,aab2bb3ab769da90baf57242c96ec481afb5ec6a233784...,1/1/2021,LA,NaN,Crescent City Surgical Centre,NaN,NaN,70118.0,Short Term,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,df2363988746840134806aa7b2accf9c89259601776986...,1/1/2021,PR,NaN,Hospital San Antonio,"#18 Norte, Calle Dr",Mayagüez,680.0,Short Term,NaN,...,0.0,-999999.0,0.0,0.0,0.0,0.0,0.0,-999999.0,161.0,0.0
2,9922a3f069ff4686fe467885206fb1172f609233cfe517...,1/1/2021,PR,NaN,Centro Medico Correccional de Bayamon,NaN,NaN,960.0,Short Term,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ff9032c172057190bf52f523d253c79af2d5f74d007084...,1/1/2021,PR,NaN,HealthproMed,NaN,NaN,775.0,Short Term,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0
4,ee04edd185865c38c839812cb2eb5ae5d3f8922e3b629e...,1/1/2021,LA,NaN,Alexandria Emergency Hospital,5900 Coliseum Blvd,Alexandria,71303.0,Short Term,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
covid_df= data_df[["collection_week",
                   "state",
                   "zip",
                   "hospital_name",
                   "city",
                   "inpatient_beds_used_7_day_avg",
                   "total_adult_patients_hospitalized_confirmed_covid_7_day_avg",
                  "all_adult_hospital_inpatient_bed_occupied_7_day_avg"]]
covid_df.head()

,collection_week,state,zip,hospital_name,city,inpatient_beds_used_7_day_avg,total_adult_patients_hospitalized_confirmed_covid_7_day_avg,all_adult_hospital_inpatient_bed_occupied_7_day_avg
0,1/1/2021,LA,70118.0,Crescent City Surgical Centre,NaN,-999999.0,0.0,-999999.0
1,1/1/2021,PR,680.0,Hospital San Antonio,Mayagüez,14.3,0.0,6.9
2,1/1/2021,PR,960.0,Centro Medico Correccional de Bayamon,NaN,31.0,0.0,31.0
3,1/1/2021,PR,775.0,HealthproMed,NaN,-999999.0,0.0,-999999.0
4,1/1/2021,LA,71303.0,Alexandria Emergency Hospital,Alexandria,-999999.0,0.0,-999999.0

In [24]:
covid_df= covid_df[covid_df['state'].isin(states)]
covid_df.head()

,collection_week,state,zip,hospital_name,city,inpatient_beds_used_7_day_avg,total_adult_patients_hospitalized_confirmed_covid_7_day_avg,all_adult_hospital_inpatient_bed_occupied_7_day_avg
280,1/1/2021,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.4,29.7,93.4
281,1/1/2021,CA,94705.0,ALTA BATES SUMMIT MEDICAL CENTER - ALTA BATES ...,BERKELEY,144.1,36.4,143.7
282,1/1/2021,CA,94602.0,HIGHLAND HOSPITAL,OAKLAND,169.0,35.1,168.0
283,1/1/2021,CA,94546.0,EDEN MEDICAL CENTER,CASTRO VALLEY,139.6,43.4,139.1
284,1/1/2021,CA,94545.0,ST ROSE HOSPITAL,HAYWARD,56.6,22.9,56.6

In [25]:
covid_df= covid_df.rename(columns={"collection_week":"Week_Data_Collected",
                                   "state": "State",
                                   "zip":"Zip",
                                   "city": "City",
                                   "hospital_name":"Hosptial_Name",
                                   "inpatient_beds_used_7_day_avg":"Total_Beds_Available",
                                   "total_adult_patients_hospitalized_confirmed_covid_7_day_avg":"Total_Covid_Patients",
                                   "all_adult_hospital_inpatient_bed_occupied_7_day_avg":"Total_Beds_in_Use"})
covid_df.head()

,Week_Data_Collected,State,Zip,Hosptial_Name,City,Total_Beds_Available,Total_Covid_Patients,Total_Beds_in_Use
280,1/1/2021,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.4,29.7,93.4
281,1/1/2021,CA,94705.0,ALTA BATES SUMMIT MEDICAL CENTER - ALTA BATES ...,BERKELEY,144.1,36.4,143.7
282,1/1/2021,CA,94602.0,HIGHLAND HOSPITAL,OAKLAND,169.0,35.1,168.0
283,1/1/2021,CA,94546.0,EDEN MEDICAL CENTER,CASTRO VALLEY,139.6,43.4,139.1
284,1/1/2021,CA,94545.0,ST ROSE HOSPITAL,HAYWARD,56.6,22.9,56.6

In [26]:
round(covid_df["Zip"].astype(int),0)
covid_df.head()

,Week_Data_Collected,State,Zip,Hosptial_Name,City,Total_Beds_Available,Total_Covid_Patients,Total_Beds_in_Use
280,1/1/2021,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.4,29.7,93.4
281,1/1/2021,CA,94705.0,ALTA BATES SUMMIT MEDICAL CENTER - ALTA BATES ...,BERKELEY,144.1,36.4,143.7
282,1/1/2021,CA,94602.0,HIGHLAND HOSPITAL,OAKLAND,169.0,35.1,168.0
283,1/1/2021,CA,94546.0,EDEN MEDICAL CENTER,CASTRO VALLEY,139.6,43.4,139.1
284,1/1/2021,CA,94545.0,ST ROSE HOSPITAL,HAYWARD,56.6,22.9,56.6

In [27]:
covid_df.dtypes

Week_Data_Collected      object
State                    object
Zip                     float64
Hosptial_Name            object
City                     object
Total_Beds_Available    float64
Total_Covid_Patients    float64
Total_Beds_in_Use       float64
dtype: object

In [38]:
df2["Percent Covid Patients"]=[]
x=covid_df["Total_Covid_Patients"].iloc[2] / covid_df["Total_Beds_Available"].iloc[2]
df2=covid_df["Total_Covid_Patients"] / covid_df["Total_Beds_Available"]
print(x)
df2.head()

0.2076923076923077

280    0.317987
281    0.252602
282    0.207692
283    0.310888
284    0.404594
dtype: float64

In [48]:
covid_df["Percent Covid Patients"] = round(covid_df["Total_Covid_Patients"] / covid_df["Total_Beds_Available"],2)
covid_df["Percent Capacity Full"] = round(covid_df["Total_Beds_in_Use"] / covid_df["Total_Beds_Available"],2)
covid_df.head()

,Week_Data_Collected,State,Zip,Hosptial_Name,City,Total_Beds_Available,Total_Covid_Patients,Total_Beds_in_Use,Percent Covid Patients,Percent Capacity Full
280,1/1/2021,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.4,29.7,93.4,0.32,1.00
281,1/1/2021,CA,94705.0,ALTA BATES SUMMIT MEDICAL CENTER - ALTA BATES ...,BERKELEY,144.1,36.4,143.7,0.25,1.00
282,1/1/2021,CA,94602.0,HIGHLAND HOSPITAL,OAKLAND,169.0,35.1,168.0,0.21,0.99
283,1/1/2021,CA,94546.0,EDEN MEDICAL CENTER,CASTRO VALLEY,139.6,43.4,139.1,0.31,1.00
284,1/1/2021,CA,94545.0,ST ROSE HOSPITAL,HAYWARD,56.6,22.9,56.6,0.40,1.00

In [52]:
mapbox_df = covid_df.merge(lat_long_df, on="Zip")
mapbox_df.head()

,Week_Data_Collected,State,Zip,Hosptial_Name,City,Total_Beds_Available,Total_Covid_Patients,Total_Beds_in_Use,Percent Covid Patients,Percent Capacity Full,index,Latitude,Longitude
0,1/1/2021,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.4,29.7,93.4,0.32,1.0,20311,37.68973,-121.89244
1,12/25/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,100.6,32.0,100.6,0.32,1.0,20311,37.68973,-121.89244
2,12/18/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,106.1,27.1,106.1,0.26,1.0,20311,37.68973,-121.89244
3,12/11/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,106.9,23.0,106.9,0.22,1.0,20311,37.68973,-121.89244
4,12/4/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.7,14.1,93.7,0.15,1.0,20311,37.68973,-121.89244

In [54]:
mapbox_df= mapbox_df.drop(columns="index")
mapbox_df.head()

,Week_Data_Collected,State,Zip,Hosptial_Name,City,Total_Beds_Available,Total_Covid_Patients,Total_Beds_in_Use,Percent Covid Patients,Percent Capacity Full,Latitude,Longitude
0,1/1/2021,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.4,29.7,93.4,0.32,1.0,37.68973,-121.89244
1,12/25/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,100.6,32.0,100.6,0.32,1.0,37.68973,-121.89244
2,12/18/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,106.1,27.1,106.1,0.26,1.0,37.68973,-121.89244
3,12/11/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,106.9,23.0,106.9,0.22,1.0,37.68973,-121.89244
4,12/4/2020,CA,94588.0,STANFORD HEALTH CARE - VALLEYCARE,PLEASANTON,93.7,14.1,93.7,0.15,1.0,37.68973,-121.89244

In [58]:
mapbox_df.to_csv("clean_data.csv")